.container(ng-controller='UserController')
  .row
    .col-md-4.col-md-offset-4
      %h1.text-center Tower
  .row(ng-show='!signupResult')
    .col-md-4.col-md-offset-4
      %small.text-danger(ng-show="error_messages") {{ error_messages }}
      %form.signup-form.form-horizontal(novalidate name='signupForm')
        .form-group
          .col-md-12
            %input.form-control(type="text" name="name" placeholder="公司或团队的名称" ng-model="user.name" required)
            %small.text-danger(ng-show="signupForm.name.$dirty && signupForm.name.$error.required") 请填写团队或者公司的名称
        .form-group
          .col-md-12
            %input.form-control(type="email" name="email" placeholder="你的邮箱地址" ng-model="user.email" required)
            %small.text-danger(ng-show="signupForm.email.$dirty && signupForm.email.$error.required") 请填写你的邮箱地址
            %small.text-danger(ng-show="signupForm.email.$dirty && signupForm.email.$error.email") 请填写正确的邮箱地址
        .form-group
          .col-md-12
            %input.form-control(type="password" name="password" placeholder="设置一个密码" ng-model="user.password" ng-minlength=6 required)
            %small.text-danger(ng-show="signupForm.password.$dirty && signupForm.password.$error.minlength") 请设置一个登录密码；至少6位
            %small.text-danger(ng-show="signupForm.password.$dirty && signupForm.password.$error.required") 请设置一个登录密码
        .form-group
          .col-md-12
            %button.col-md-12.btn.btn-success(ng-click="register(user)" ng-disabled="signupForm.$invalid") 注册
            %a
              %small.text-mute 点击注册表示你已阅读并同意《Tower 服务条款》
  .row(ng-show='signupResult')
    .col-md-4.col-md-offset-4
      %h1.text-success.text-center 注册成功！
  .row
    .col-md-4.col-md-offset-4
      %hr
      %h5.text-center
        已有账号？
        %span
          %a(href="#{new_session_path}") 立即登录 →
